.fixed .column-pages {
    width: 74px;
    text-align: center;
}

.column-thumbnail {
    --thumbnail-width: 160px;
    width: var( --thumbnail-width );
}
.column-thumbnail .thumbnail,
.column-thumbnail > img {
    border: 1px solid dimgray;
    background-color: rgba(211, 211, 211);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    user-select: none;
    aspect-ratio: 16/9;
    object-fit: cover;
}
.column-thumbnail .wp-post-image {
    background-color: rgba(211, 211, 211, 0.5);
    width: var( --thumbnail-width );
    height: 90px;
}

#posts-pending ul {
    margin: 8px -6px 0 -6px;
}

#posts-pending li {
    display: grid;
    grid-template-columns: clamp(160px, calc(2vw + 140px), 200px) auto;
    column-gap: 10px;
    color: #646970;
    padding: 4px 12px;
}

#posts-pending li:nth-child(odd) {
    background-color: #f6f7f7;
}

